logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
pids
*.pid
*.seed
*.pid.lock
*.sock
*.lock
*.db
*.sqlite
.DS_Store
.DS_Store.lock
.Spotlight-V100
.Trashes
ehthumbs
Thumbs.db
node_modules
coverage
*.lcov
lib-cov
*.env
*.build
*.suo
*.ipp
*.aps
*.map
*.bin
*.out
*.debug
*.test
*.dist
*.dll
*.exe
*.dSYM
*.jit
*.cmi
*.npm
*.so
*.otf
*.obj
*.lib
*.jar
*.war
*.class
*.pyo
*.pyc
*.pyd
*.o
*.d
*.dylib
*.egg-info
*.egg
local.cfg
production.local.cfg
*.local.cfg
*.prod.local.cfg
*.dev.local.cfg
*.test.local.cfg
*.functions
*.functions.log
*.local
.revocation-dir
_/bin
_/pkg/**/cache
*.lproj
.project
.classpath
.wtp
*.csproj
*.s*
